<header class="header">
  <div class="container">
    <div class="logo">
      <a href="/" class="logo-button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon"
        >
          <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
          <circle cx="9" cy="7" r="4"></circle>
          <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
          <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
        </svg>
        <span>Members Only</span>
      </a>
    </div>
    <h1>
      Welcome,
      <% if (currentUser && currentUser.membership_status) { %>
        <%= currentUser.username %> (Admin)
      <% } else if (currentUser && !currentUser.membership_status) { %>
        <%= currentUser.username %> (Member)
      <% } else { %>
        Guest
      <% } %>
    </h1>
    <nav class="nav">
      <% if (currentUser) { %>
      <a href="/log-out" class="log-button">Log Out</a>
      <% } else { %>
      <a href="/log-in" class="log-button">Log In</a>
      <% } %>
    </nav>
  </div>
</header>
