<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Members Only Auth</title>
  <link rel="stylesheet" href="/styles.css" />
  <link rel="icon" href="/lock.ico" />
</head>
