<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/header.ejs") %>
    <div class="container">
      <div class="log-in-container">
        <h1>Log in</h1>
        <p>Guest Account: username, password = guest, guest</p>
        <form action="/log-in" method="POST">
          <label for="username">Username</label>
          <input id="username" name="username" placeholder="username" type="text" />
          <label for="password">Password</label>
          <input id="password" name="password" type="password" />
          <button>Log In</button>
        </form>
        <a href="/sign-up">Don't have an account? <strong>Sign up</strong></a>
      </div>
    </div>
  </body>
</html>
