/* Add these styles to your existing CSS file */

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.header {
  background-color: #1a202c;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem 0;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: bold;
}

.icon {
  margin-right: 0.5rem;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.welcome-message {
  margin-right: 1rem;
}

.nav-button {
  background-color: #2d3748;
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #4a5568;
}

.logo-button {
  display: flex;
  align-items: center;
  background-color: #4a5568;
  color: #ffffff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: auto 0;
}

.logo-button:hover {
  background-color: #718096;
  color: #ffffff;
}

.log-in-container {
  max-width: 450px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.log-in-container h1 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: #1a202c;
  text-align: center;
}

.log-in-container textarea {
  resize: none;
}

form {
  display: flex;
  flex-direction: column;
}

.name-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.name {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
  color: #4a5568;
  font-size: 0.875rem;
}

input,
textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  font-size: 1rem;
}

input:focus {
  outline: none;
  border-color: #4a5568;
  box-shadow: 0 0 0 3px rgba(74, 85, 104, 0.2);
}

form button {
  background-color: #2d3748;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #4a5568;
}

.log-in-container a {
  display: block;
  margin-top: 1rem;
  text-align: center;
  color: #4a5568;
  text-decoration: none;
  font-size: 0.875rem;
}

.log-in-container a:hover {
  text-decoration: underline;
}

main.container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h1 {
  font-size: 3rem;
  color: #4a5568;
  margin-bottom: 1rem;
  text-align: left;
}

.message-board {
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
}

.message-content {
  border-bottom: 1px solid #e2e8f0;
  padding: 1rem 0;
}

.message-content:last-child {
  border-bottom: none;
}

.message-content p {
  margin: 0.5rem 0;
}

.message-content .message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-content .message-header a {
  text-decoration: none;
  color: red;
  font-weight: bold;
}

.message-content p:first-child {
  font-weight: bold;
  color: #4a5568;
}

.message-content p:nth-child(2) {
  font-size: 1.1rem;
  color: #2d3748;
}

.message-content p:last-child {
  color: #4a5568;
}

.message-content h4 {
  margin: 0.5rem 0;
}

.btn {
  display: inline-block;
  background-color: #4a5568;
  color: #ffffff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
  margin-top: 0.5rem;
}

.btn:hover {
  background-color: #2d3748;
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    justify-content: center;
  }
  .header-container h1 {
    text-align: center;
  }
  .nav {
    margin-top: 1rem;
  }

  .welcome-message {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  .message-board {
    padding: 1rem;
  }

  .message-content {
    padding: 0.75rem 0;
  }

  .log-in-container {
    margin: 1rem;
    padding: 1.5rem;
  }
}

.space-between-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error {
  color: #e74c3c; /* Red color to indicate error */
  font-size: 14px; /* Smaller font size for error messages */
  display: block; /* Make sure it appears as a block element */
}

.error-box {
  padding: 10px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  margin-bottom: 10px;
}
